body {
  font-family: $font-family;
  background-color: var(--top-bg);
  color: var(--text-main);
  display: flex;
  justify-content: center;
  padding: 20px;
}

// Dashboard Container
.dashboard {
  width: 100%;
  max-width: 1000px;
}

// Header
.dashboard-header {
  span,
  label {
    color: var(--text-desaturated);
  }
  .form-check-input {
    border: none;
    box-shadow: none;
    background-color: hsl(210, 78%, 56%);
    &:checked {
      background-color: var(--toggle);
    }
  }
}

// Stats Section
.stats {
  &__card {
    background-color: var(--card-bg);
    border-top: 0.26rem solid;
    &-facebook {
      border-color: $facebook-color;
    }
    &-twitter {
      border-color: $twitter-color;
    }
    &-instagram {
      border-image: $instagram-gradient;
    }
    &-youtube {
      border-color: $youtube-color;
    }
  }
  h2 {
    font-size: 2.6rem;
  }
  span {
    color: var(--text-desaturated);
  }
  &__username {
    font-size: 0.8rem;
    color: var(--text-desaturated);
  }
}

// Overview Section
.overview-section {
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  &__card {
    background-color: var(--card-bg);

    p {
      font-size: 0.9rem;
      color: var(--text-desaturated);
      margin-bottom: 5px;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    .change {
      font-size: 0.8rem;

      &.positive {
        color: $lime-green;
      }

      &.negative {
        color: $bright-red;
      }
    }
  }
}

// // Responsive Styles
// @media (max-width: 768px) {
//   .stat-box,
//   .overview-box {
//     width: calc(50% - 10px);
//   }
// }

// @media (max-width: 480px) {
//   .stat-box,
//   .overview-box {
//     width: 100%;
//   }
// }
